.mainPage {
    display: grid;
    grid-template-columns: 3fr 1fr;
}


.cart-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 50px;
}

@media screen and (max-width:778px) {
    .cart-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:480px) {
    .cart-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.header {
    color: rgb(180, 196, 250);
    margin-left: 2rem;
}

.your-item {
    margin-left: 2rem;

}

.items-part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 10px;
}