.mainPage {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.header {
    color: rgb(180, 196, 250);
    margin-left: 2rem;
}

.your-item {
    margin-left: 2rem;

}

.items-part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 10px;
}