.exercise-break-time {
    background-color: rgb(180, 196, 250);
    border-radius: 20px;
    padding: .5% 10%;
    margin-bottom: 5%;
}

.button-task {
    background-color: rgb(83, 35, 255);
    border-radius: 20px;
    padding: 10px;
    border: none;
    width: 100%;
    color: white;
    font-size: large;
}